<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-screen bg-cover bg-no-repeat" style="background-image: url('/assets/dark-log.jpeg');">
    <div class="w-screen h-[100vh] bg-black opacity-80 absolute top-0 left-0"></div>
    <div class="relative text-white text-center flex flex-col gap-4 mx-auto m-[10%] border-2 border-cyan-500 rounded-md p-4 w-[40%]">
            <h3 class="text-3xl font-semibold">Login Your Account</h3>
            <form action="/login" method="post">
                <div class="flex flex-col gap-2 w-[70%] mx-auto">
                    <label class="text-xl font-semibold" for="">Username</label>
                    <input class="px-4 py-2 rounded-full outline-none bg-transparent border-2 border-zinc-800" type="text" placeholder="email" name="email">
                </div>
               <div class="flex flex-col gap-2 w-[70%] mx-auto">
                    <label class="text-xl font-semibold" for="">Password</label>
                    <input class="px-4 py-2 rounded-full outline-none bg-transparent border-2 border-zinc-800" type="password" placeholder="password" name="password">
               </div>
               <input class="px-5 py-2 mt-4 rounded-md bg-blue-500  hover:bg-transparent hover:border-2 hover: border-cyan-500" type="submit" value="Login Account">
            </form>
    </div>
</body>
</html>